body{
    overflow-x: hidden;
}

.margin-top-4rem {
    margin-top: 4rem;
}

.margin-top-8rem {
    margin-top: 8rem;
}

.margin-top-6rem {
    margin-top: 6rem;
}

.margin-top-2rem {
    margin-top: 2rem;
}

.padding-top-8rem {
    padding-top: 8rem;
}

.padding-bottom-8rem {
    padding-bottom: 8rem;
}

.margin-bottom-4rem {
    margin-bottom: 4rem;
}

.margin-bottom-8rem {
    margin-bottom: 8rem;
}

.margin-bottom-6rem {
    margin-bottom: 6rem;
}

.margin-bottom-2rem {
    margin-bottom: 2rem;
}

.font-size-1-1rem {
    font-size: 1.1rem;
}

.home-page-container{
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin-right: 1rem;
}

    .navbar-light .navbar-nav .nav-link:hover {
        color: rgb(255, 255, 255);
        border: 1px solid rgb(244, 16, 104);
        border-radius: 20px;
        background-color: rgb(244, 16, 104);
    }

.categories-wrapper {
    padding: 4rem;
    background: rgb(244, 16, 104);
    margin-bottom: 6rem;
}

.single-product{
    border: 2px solid white;
    padding: 0.3rem;
}

.single-product:hover {
    border: 2px solid rgb(244, 16, 104);
}

div.category-row {
    margin-bottom: 2rem;
}

div.category a {
    text-decoration: none;
}

div.category-list > a {
    font-size: 1.2rem;
    color: white;
    border: 2px solid white;
    padding: 0.5rem;
}

.subCategories{
    display: none;
    opacity: 0;
    margin-top: 1rem;
}

.subCategories li {
    padding: 0.5rem;
}

.subCategories li a{
    font-size: 1.2rem;
}  

.subCategories a {
    color: white;
}

.ad-image{
    display: block;
}

.product-info{
    padding: 1rem;
}

.product-info p {
    margin-bottom: 0.3rem;
    color: rgb(119, 119, 119);
}

.product-info h1, .product-info h2, .product-info h3, .product-info h4, .product-info h5, .product-info h6{
    margin-bottom: 0.5rem;
}


.quick-view-content .middle p{
    margin-bottom: 0.3rem;
}

@media(min-width: 1080px) {
    div.category-list:hover > a {
        background: white;
        color: rgb(244, 16, 104);
        border: 2px solid rgb(244, 16, 104);
    }

    div.category-list:hover .subCategories {
        display: block;
        border-left: 2px solid white;
    }

    .subCategories a:hover {
        text-decoration: underline;
    }  
}

@media(max-width: 1080px) {

    div.category a{
        margin-bottom: 4rem;
    }

    div.category-row{
        margin-bottom: 1rem;
    }
}

.btn-follow {
    border: 2px solid rgb(244, 16, 104);
    background: rgb(244, 16, 104);
    color: white;
}

.btn-details {
    border: 2px solid rgb(244, 16, 104);
    background: rgb(244, 16, 104);
    color: white;
}

.btn-pink {
    border: 2px solid rgb(244, 16, 104);
    background: rgb(244, 16, 104);
    color: white;
}

.table-zebra tr:nth-child(even) {
    background: rgb(180, 180, 180);
}

.color-pink {
    color: rgb(244, 16, 104);
}

.conversation-page-element {
    font-size: 1.3rem;
    text-decoration: none;
}

.text-small {
    font-size: 1rem;
}

.messages-box,
.chat-box {
    height: 60vh;
    overflow-y: scroll
}

.rounded-lg {
    border-radius: 0.5rem;
}

input::placeholder {
    font-size: 1rem;
    color: #999;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    width: 5px;
    background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
    width: 1em;
    background-color: #ddd;
    outline: 1px solid slategrey;
    border-radius: 1rem;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
}

.chart-wrapper canvas {
    width: 600px;
    height: 400px;
}

.charts-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem 0rem;
}

.users-chart-wrapper, .ads-chart-wrapper {
    flex: 0 0 40%;
}

.charts-wrapper h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    color: rgb(244, 16, 104);
    text-align: center;
}

.charts-wrapper .payments-wrapper,
.charts-wrapper .incomes-wrapper {
    flex: 0 0 50%;
}

.error-main {
    background-color: rgb(244, 16, 104);
    box-shadow: 0px 10px 10px -10px #5D6572;
}

.error-main h1 {
    font-weight: bold;
    color: white;
    font-size: 100px;
    text-shadow: 2px 4px 5px #6E6E6E;
}

.error-main h2 {
    color: black;
}