.margin-top-4rem {
    margin-top: 4rem !important;
}

.margin-top-8rem {
    margin-top: 8rem !important;
}

.margin-top-6rem {
    margin-top: 6rem !important;
}

.margin-top-2rem {
    margin-top: 2rem !important;
}

.margin-bottom-4rem {
    margin-bottom: 4rem !important;
}

.margin-bottom-8rem {
    margin-bottom: 8rem !important;
}

.margin-bottom-6rem {
    margin-bottom: 6rem !important;
}

.margin-bottom-2rem {
    margin-bottom: 2rem !important;
}

li.nav-item:hover {
    background-color: rgb(244, 16, 104) !important;
    
}

li.nav-item:hover a {
    color: rgb(255, 255, 255) !important;
}
