.image {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    background-image: url("/img/fileUploadIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.image-preset {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}


.image-upload {
    opacity: 0;
    z-index: 100;
    width: 150px;
    height: 150px;
    position: absolute;
}

.image-upload:hover, .image-preset:hover, .image:hover {
    cursor: pointer;
}

input[type='file']{
    display: none;
}

@media(max-width: 980px) {
    .image {
        width: 100px;
    }

    .image-upload {
        width: 100px;
    }
}