@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<div class="container-fluid mt-100">
    <div class="row col-md-4 mx-auto text-center">
        <h1>@ViewData["Title"]</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
    <div class="row col-md-4 mx-auto text-center">
        <a href="/Identity/Account/Login">Click here to Login</a>
    </div>
</div>
