@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<div class="container-fluid margin-top-8rem mb-50">
    <div class="row col-md-4 mx-auto">
        <h1>@ViewData["Title"]</h1>
        
    </div>
    <div class="row col-md-4 mx-auto">
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>


