@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using Shoplify.Common
@using Shoplify.Domain
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Profile" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)" title="Manage">Hello @User.Identity.Name!</a>
        </li>

        @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
        {
            <li class="nav-item">
                <a asp-area="Administration" asp-controller="Panel" asp-action="Index" class="nav-link text-dark" title="Manage">Admin Panel</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Notification" asp-action="All">
                <i class="fas fa-bell btn-pink" style="font-size: 1.2rem;"></i>
                <span class="badge badge-light ml-1" id="notificationsCount" style="font-size: 1.2rem;">0</span>
                <input value="@User.FindFirstValue(ClaimTypes.NameIdentifier)" style="display: none" id="userId" />
                <script src="~/js/notifications.js"></script>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Conversation" asp-action="All">
                <i class="fas fa-inbox btn-pink" style="font-size: 1.2rem;"></i>
                <span class="badge badge-light ml-1" id="conversationsCount" style="font-size: 1.2rem;">0</span>
                <script src="~/js/conversations.js"></script>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Advertisement" asp-action="Create">Create Advertisement</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <a class="nav-link text-dark" id="logoutButton" onmouseover="this.style.cursor = 'pointer';" onclick="this.closest('form').submit();return false;">Logout</a>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
