<form method="get" action="/Advertisement/GetAllBySearch" class="px-3">
    <div class="p-1 bg-light rounded rounded-pill shadow-sm mx-auto mb-4 mt-4 col-md-4">
        <div class="input-group">
            <input name="search" type="search" placeholder="Search..." class="form-control border-1 bg-white">
            <div class="input-group-append">
                <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search" style="color:  rgb(244, 16, 104)"></i></button>
            </div>
        </div>
    </div>
</form>
