@{
    ViewBag.Title = "404 Not Found";
}

<div class="container-fluid padding-top-8rem padding-bottom-8rem">
    <div class="row text-center">
        <div class="col-lg-6 offset-lg-3 col-sm-6 offset-sm-3 col-12 p-3 error-main">
            <div class="row py-5">
                <div class="col-lg-8 col-12 col-sm-10 offset-lg-2 offset-sm-1">
                    <h1>404</h1>
                    <h2>Page not found</h2>
                </div>
            </div>
        </div>
    </div>
</div>
