@model Shoplify.Web.Areas.Administration.ViewModels.Panel.PanelViewModel
@{
    ViewData["Title"] = "Admin Panel";
}
<div class="margin-top-4rem">
    <div class="row">
        <div class="col-md-10 mx-auto text-center mb-15">
            <h1 class="margin-bottom-2rem">Admin Panel</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto mb-100">
            <div class="text-center mb-15">
                <a asp-controller="Advertisement" asp-action="All" asp-route-page="1" class="btn btn-pink"><i class="fas fa-ad"></i> Ads: @Model.AdsCount</a>
            </div>

            <div class="text-center mb-15">
                <a asp-controller="User" asp-action="All" asp-route-page="1" asp-route-orderBy="dateAsc" class="btn btn-pink"><i class="fas fa-users"></i> Users: @Model.UsersCount</a>
            </div>

            <div class="text-center mb-15">
                <a asp-controller="Report" asp-action="All" asp-route-page="1" class="btn btn-pink"><i class="fas fa-flag"></i> Reports: @Model.ReportsCount</a>
            </div>

            <h2 class="text-center margin-top-4rem margin-bottom-2rem">Charts</h2>

            <div class="charts-wrapper">
                <div class="users-chart-wrapper">
                    <h2>Users Registered Last Week</h2>
                    <canvas id="usersChart" width="400" height="400"></canvas>
                </div>
                
                <div class="ads-chart-wrapper">
                    <h2>Ads Posted Last Week</h2>
                    <canvas id="adsChart" width="400" height="400"></canvas>
                </div>
                <div class="ads-chart-wrapper margin-top-4rem">
                    <h2>Ads By Category</h2>
                    <canvas id="adCategoriesChart" class="mx-auto" width="500" height="500"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/charts.js" asp-append-version="true"></script>
}