@model Shoplify.Web.Areas.Administration.ViewModels.Panel.PanelViewModel
@{
    ViewData["Title"] = "Admin Panel";
}
<div class="container-fluid margin-top-4rem">
    <div class="row">
        <div class="col-md-10 mx-auto text-center mb-15">
            <h1 class="margin-bottom-2rem">Admin Panel</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto mb-100">
            <div class="text-center mb-15">
                <a asp-controller="Advertisement" asp-action="All" asp-route-page="1" class="btn btn-pink"><i class="fas fa-ad"></i> Ads: @Model.AdsCount</a>
            </div>

            <div class="text-center mb-15">
                <a asp-controller="User" asp-action="All" asp-route-page="1" asp-route-orderBy="dateAsc" class="btn btn-pink"><i class="fas fa-users"></i> Users: @Model.UsersCount</a>
            </div>

            <div class="text-center mb-15">
                <a href="/User/Wishlist?page=1" class="btn btn-pink"><i class="fas fa-flag"></i> Reports: @Model.ReportsCount</a>
            </div>

            <h2 class="text-center margin-top-4rem margin-bottom-2rem">Charts</h2>
        </div>
    </div>
</div>